{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index/style.css') }}">
{% endblock %}

{% block body %}

    <section id="accueil">
        <div class="container">
            <h1>Bienvenue sur ce projet</h1>
        </div>
    </section>

{% endblock %}
